{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "parser":"babel-eslint",
  "rules": {
    "comma-dangle": [2, "never"],
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__DEVTOOLS__": true,
  }
}
